body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:aqua;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color:bisque;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
input[type="submit"] {
    background-color: #2ad838;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto; /* Center the button horizontally */
}



.success-message {
    text-align: center;
    color: green;
    font-weight: bold;
    margin-top: 20px;
}
